
body{
    display: flex;
    flex-direction: column;
}

.screen{
    height: 50px;
    text-align: right;
}

#calculator {
    background-color: rgb(179, 110, 110);
    display: grid;
    margin: auto;
    padding: 10px;
}